---
export const pagetitle = "Process"; // or any title you want

import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <p class="spaced-paragraph">
    </p>
</Layout>
<style>
      .spaced-paragraph {
        line-height: 1.2;
        text-align: center;
      }
</style>
