---
export const pagetitle = "Process"; // or any title you want

import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <p>
        Hello hi
    </p>
</Layout>
