---
export const pagetitle = "Purchase"; // or any title you want

import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <p class="spaced-paragraph">
        At the moment, our tiny startup is at capacity and cannot currently take on new customers.<br /><br />
        Please send an email to our CEO, Nicole Shoblom, at
        <a href="mailto:nicole.shoblom@gmail.com">nicole.shoblom@gmail.com</a>
        and we will reach out to you as we get more resources.
    </p>
</Layout>
<style>
      .spaced-paragraph {
        line-height: 1.2;
        text-align: center;
      }
</style>
